<template>
  <v-layout row class="mt-1">
    <v-dialog v-model="dialog" persistent max-width="600px">
        <v-btn slot="activator" color="purple darken-4"  dark>
        Novo Paciente
        <v-icon right>add</v-icon>
      </v-btn>
      
      <v-card>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex row xs12 sm12 md12 class="align-center">DADOS DO PACIENTE</v-flex>
              <v-flex xs12 sm6>
                <v-text-field label="NOME" v-model="nome"></v-text-field>
              </v-flex>
              <v-flex xs12 sm12 md6 lg6>
                <v-dialog
                  ref="dialog_nascimento"
                  v-model="modal"
                  :return-value.sync="data_nascimento"
                  persistent
                  lazy
                  full-width
                  width="290px"
                >
                  <v-text-field
                    slot="activator"
                    v-model="computedDateFormatted"
                    label="Data de nascimento *"
                    append-icon="event"
                    readonly
                    color="purple darken-3"
                    hint
                    persistent-hint
                  ></v-text-field>
                  <v-date-picker v-model="data_nascimento" scrollable locale="pt-BR">
                    <v-spacer></v-spacer>
                    <v-btn flat color="red" @click="modal = false">Cancelar</v-btn>
                    <v-btn
                      flat
                      color="success"
                      @click="$refs.dialog_nascimento.save(data_nascimento)"
                    >OK</v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 sm6 md6>
                <v-select v-model="sexo" :items="states" label="Selecione o sexo"></v-select>
              </v-flex>
              <v-flex xs12 sm6>
                <v-text-field label="E-MAIL" placeholder="@" v-model="email"></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 sm12 md12 class="align-center">
                <v-btn
                  outline
                  class="white--text"
                  color="red darken-4"
                  @click="dialog=false"
                >Cancelar</v-btn>
                <v-btn
                  class="white--text"
                  color="green darken-4"
                  @click="dialog=false, salvarPaciente()"
                >Adicionar paciente</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import SiteFine from "@/templates/SiteFine";
import swal from "sweetalert2";

export default {
  name: "AdicionarPaciente",
  components: { SiteFine },
  data() {
    return {
      data_nascimento: new Date().toISOString().substr(0, 10),
      dialog_nascimento: false,
      modal: false,
      mask_data: "##/##/####",
      dialog: false,
      nome: "",
      email: null,
      items: [],
      search: null,
      sexo: null,
      states: ["Feminino", "Masculino"],
      paciente:null
    };
  },
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.data_nascimento);
    }
  },
  watch: {
    date(val) {
      this.dateFormatted = this.formatDate(this.data_nascimento);
    }
  },
  created() {
    //this.BuscarInstrumentos();
  },
  methods: {
    salvarPaciente() {
      this.alerta("Paciente " + this.nome , "Salvo com sucesso!", "success");
      this.$emit("Nome", { nome: this.nome });
      this.$emit("Sexo", { sexo: this.sexo });
      this.$emit("DataNascimento", { nascimento: this.data_nascimento });
      this.$emit("Email", { email: this.email });
      this.ApiSalvarPaciente(this.nome,this.dataNasc, this.sexo,this.email)
    },
    ApiSalvarPaciente(nome,dataNasc,sexo,email,sobrenome,contato,idade,peso,altura) {      
      let formPaciente = new FormData()
      formPaciente.append("idUsuarioLogado","2")
      formPaciente.append("token","FD7FCBFD3D3A990B9603B82AB690BFA87F1FCBF7")
      formPaciente.append("nome","Joel")
      formPaciente.append("sobrenome","Maykon")
      formPaciente.append("cpf","12345678")
      formPaciente.append("contato","84 99999-9999")
      formPaciente.append("dataNasc","31/09/1998")
      formPaciente.append("idade","18")
      formPaciente.append("sexo","Masculino")
      formPaciente.append("peso","80")
      formPaciente.append("altura","1.78")
      formPaciente.append("login","joel")
      formPaciente.append("email","maykon@email.com")
      formPaciente.append("senha","123")
      formPaciente.append("tipo","usuario")
      formPaciente.append("confirma","0")   
      this.$http.post(this.$url + 'Paciente&acao=push',formPaciente)      
      .then(response => {
        console.log(response.data);
      });
    },
    alerta(title, text, type) {
      swal.fire(title, text, type);
    },
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
