<template>
  <v-layout>
    <v-flex xs12 sm12 md12 lg12>
      <v-card color="#5E35B1">
        <v-container fill-height fluid>
          <v-layout fill-height>
            <v-flex xs12 sm12 md6 lg6 align-center flexbox>
              <v-flex xs12 sm12 md12 lg12>
                <v-avatar size="120">
                  <img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John">
                </v-avatar>
              </v-flex>
              <span class="headline white--text text-uppercase">{{nome}}</span>
               <v-divider class="bg-white"></v-divider>
              <br><p  class=" gray--text text--lighten mt-2">DADOS PESSOAIS</p>
             
              <v-flex xs6 sm6 md6 lg6>
                <p class="white--text align-left">
                  Data de Nascimento:{{nascimento}}
                  <br>
                  Email: {{email}}
                  <br>
                  Sexo:{{sexo}}
                  <br>
                  Contato: {{contato}}
                </p>                
              </v-flex>
            </v-flex>
            <v-flex xs6 sm6 md6 lg6 align-center flexbox>
              <v-card-text>
                <v-flex xs12 sm12 md6 lg12>
                  <!--BOTOES DE AÇOES NOS DETALHES DO PACIENTE-->

                  <cadastro-alergia></cadastro-alergia>
                  <pressao-arterial></pressao-arterial>
                  <!-- <anamnese></anamnese> -->
                  <exame-fisico></exame-fisico>
                  <exames></exames>
                </v-flex>
                <v-flex xs12 sm12 md12 lg12>
                  <v-card color="purple darken-4" class="white--text ma-5 pa-5">
                    <v-layout row>
                      <v-flex xs12 sm12 md12 lg12 align-center>
                        Não há nenhum plano alimentar
                        <v-avatar color="yellow darken-3">
                          <v-icon dark>fas fa-folder-open</v-icon>
                        </v-avatar>
                      </v-flex>
                    </v-layout>
                    <v-divider light class="ma-3"></v-divider>
                    <v-flex xs12 sm12 md12 lg12 align-center>
                      <adicionar-plano></adicionar-plano>
                    </v-flex>
                  </v-card>
                </v-flex>
              </v-card-text>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-flex>
  </v-layout>
</template>
 <script>

import AdicionarPlano from "@/pages/Modulos/Adm/planejamentoAlimentar/AdicionarPlano";
import Anamnese from "@/pages/Modulos/Adm/anamnese/GerenciarAnamnese";
import ExameFisico from "@/pages/Modulos/Adm/anamnese/GerenciarExameFisico";
import Exames from "@/pages/Modulos/Adm/examesclinicos/Exames";
import PressaoArterial from "@/pages/Modulos/Adm/pressaoarterial/PressaoArterial";
import CadastroAlergia from "@/pages/Modulos/Adm/alergia/CadastroAlergia";//Cadastro alergias
export default {
  name: "PacienteDetalhes",
  props: ["nome", "sexo", "email", "nascimento", "contato"],
  components: {
    AdicionarPlano,
    PressaoArterial,
    Anamnese,
    ExameFisico,
    CadastroAlergia,//Cadastro alergia
    Exames
  },
  methods: {}
};
</script>
 