<template>
  <v-layout>
    <v-flex>
      
     
      <v-card >
        <v-tabs dark color="#B39DDB" show-arrows height="100" icons-and-text>
         <v-flex sm12 xs12 md12 lg12 align-center d-flex v-if="pacientes == null">
          <span>
             <v-progress-circular
            :size="50"
            color="deep-purple darken-4"
            indeterminate
            :width="3"
            class="align-center mt-2 mb-2"
          >
            <v-icon color="purple darken-4">fas fa-user</v-icon>
          </v-progress-circular>
          <br>
          <small class="black--text text--darken-4">BUSCANDO SEUS PACIENTES</small>
          </span>
         
      </v-flex>
          
          <v-tabs-slider color="yellow"></v-tabs-slider>
          <v-tab v-for="item in pacientes" :key="item.id" :href="'#tab-' + item.id">            
            <h3  class="subheading black--text">
                {{ item.nome }}
              </h3> 
            <v-avatar
                size="50"
                class="mb-4"
              >
                <v-img
                  src="https://cdn.vuetifyjs.com/images/john.jpg"
                  class=""
                ></v-img>
              </v-avatar>
              <v-flex xs12 sm12 md12 lg12>
                
              </v-flex>                         
          </v-tab>
          <v-tabs-items>
            <v-tab-item v-for="item in pacientes" :key="item.id" :value="'tab-' + item.id">
              <v-card flat>
               <paciente-detalhes
              v-bind:nome="item.nome"
              v-bind:sexo="item.sexo"
              v-bind:email="item.email"
              v-bind:nascimento="item.nascimento"
              v-bind:contato="item.contato"
            ></paciente-detalhes>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-tabs>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import swal from "sweetalert2";
import PacienteDetalhes from "@/pages/Modulos/Adm/paciente/PacienteDetalhes";

export default {
  name: "Pacientes",
  props: ["novoPaciente"],
  components: {PacienteDetalhes},
  data() {
    return {
      pacientes: null
    };
  },
  watch: {
    novoPaciente: function() {
      console.log("Pacientes modificado - Paciente", this.novoPaciente);
      this.BuscarPacientesAPI();
    }
  },
  created() {
    this.BuscarPacientesAPI();
  },
  methods: {
    SelecionarPaciente(nome, dataNasc, sexo, email, contato) {
      console.log(nome);
      console.log(dataNasc);
      this.$emit("Nome", { nome: nome });
      this.$emit("Nascimento", { nascimento: dataNasc });
      this.$emit("Sexo", { sexo: sexo });
      this.$emit("Email", { email: email });
      this.$emit("Contato", { contato: contato });
      this.BuscarPacientesAPI();
    },
    BuscarPacientesAPI() {
      console.log("buscando novos pacientes");
      let idForm = new FormData();
      idForm.append("id", "2");
      idForm.append("token", "FD7FCBFD3D3A990B9603B82AB690BFA87F1FCBF7");

      console.log(idForm.getAll("paciente"));
      this.$http
        .post(this.$url + "Paciente&acao=findAll", idForm)
        .then(response => {
          console.log(response.data);
          this.pacientes = response.data;
        });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
