<template>
  <v-container grid-list-md text-xs-center >
    <v-layout row wrap>
      <v-flex xs12 sm12 md12 lg12>
          <v-card-title>
            <adicionar-paciente
              @Nome="SelecionarNome"
              @Sexo="SelecionarSexo"
              @Email="SelecionarEmail"
              @DataNascimento="SelecionarNascimento"
            ></adicionar-paciente>
          </v-card-title>
          <v-card-text>
            
            <lista-pacientes
              @Nome="SelecionarNome"
              @Sexo="SelecionarSexo"
              @Nascimento="SelecionarNascimento"
              @Email="SelecionarEmail"
              @Contato="SelecionarContato"
              v-bind:novoPaciente="paciente"
            ></lista-pacientes>
          </v-card-text>
      </v-flex>     
    </v-layout>
  </v-container>
</template>
<script>
import ListaPacientes from "@/pages/Modulos/Adm/paciente/Pacientes";
import AdicionarPaciente from "@/pages/Modulos/Adm/paciente/AdicionarPaciente";

export default {
  name: "PainelPacientes",
  components: {
    ListaPacientes,
    AdicionarPaciente    
  },
  created() {
    console.log(this.nome);
  },
  data() {
    return {
      nome: null,
      sexo: null,
      email: null,
      nascimento: null,
      contato: null,
      paciente: []
    };
  },
  methods: {
    SelecionarNome(payload) {
      this.nome = payload.nome;
    },
    SelecionarSexo(payload) {
      console.log(this.sexo);
      this.sexo = payload.sexo;
      console.log(this.sexo);
    },
    SelecionarEmail(payload) {
      this.email = payload.email;
    },
    SelecionarNascimento(payload) {
      this.nascimento = payload.nascimento;
      this.paciente = [];
      this.paciente.push({
        nome: this.nome,
        sexo: this.sexo,
        email: this.email,
        nascimento: this.nascimento
      });
      console.log(this.paciente);
    },
    SelecionarContato(payload) {
      this.contato = payload.contato;
    },

    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    }
  }
};
</script>

<style>
.scroll {
  overflow-y: auto;
}
</style>

