<template>
  <login-fine>
    <div class="login-page">
      <div class="login-box align-center">
        <div class="logo">
          <a href="javascript:void(0);">FINE SAÚDE</a>
          <span class="font-weight-medium font-italic">Gestão de nutrição e saúde</span>
        </div>
        <span v-if="!recuperarSenha">
          <div class="card">
            <div class="body">
              <div   class="msg font-weight-medium font-italic align-center">Iniciar sessão </div>
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field append-icon="fas fa-envelope" color="purple lighten-1" v-model="email" label="E-mail" required></v-text-field>
                <v-text-field
                  type="password"
                  v-model="accessKey"
                  :rules="senhaRules"
                  label="Senha"
                  required
                  color="purple lighten-1"
                  append-icon="fas fa-lock"
                ></v-text-field>                
                <v-btn color="red accent-1"  outline @click="clear">Limpar
                  <v-icon right dark> fas fa-broom  </v-icon>
                </v-btn>
                <v-btn  :disabled="loading2" @click="Login"  ouline :loading="loading2" color="teal darken-2" class="white--text">
                  Entrar
                  <v-icon right dark> fas fa-sign-in-alt</v-icon>
                  <span slot="loader" class="custom-loader">
                    <v-icon light>cached</v-icon>
                  </span>
                </v-btn>
              </v-form>
              <span v-if="barra == true">
                <v-progress-linear :color="cor" :indeterminate="barra"></v-progress-linear>
              </span>
            </div>
          </div>
        </span>
      </div>
    </div>
  </login-fine>
</template>

<script>
import LoginFine from "@/templates/LoginFine";
import swal from "sweetalert2";
import axios from "axios"
export default {
  name: "Home",
  data() {
    return {
      cor: "",
      barra: false,
      loader: null,
      loading: false,
      loading2: false,
      valid: true,
      email: "",
      emailRules: [
        v => !!v || "E-mail é requerido",
        v => /.+@.+/.test(v) || "E-mail inválido!"
      ],
      senhaRules: [v => !!v || "Senha é requerida!"],
      recuperarSenha: false,
      accessKey: ""
    };
  },
  components: { LoginFine },
  methods: {
    entrar(){
        this.$router.push("/inicio-fine-administracao");
    },
    Login() {
      axios.post('https://services-api-fine.herokuapp.com/api/login-usuario',{
        email: this.email,
        password : this.accessKey
      })
      .then(response =>{
        if(response.data.token){
          this.alerta("Login","Acesso Permitido","success")
          sessionStorage.setItem('usuario',JSON.stringify(response.data))
          this.entrar();
        }else if(response.data.status == false){
          this.alerta("Login","Não permitido verifique suas credencias")
        }else{
          console.log("Erros de validação")
          let erros = '';
          for(let erro of Object.values(response.data)){
            erros += erro + " " + '<br>';
          }
          this.alerta("Desculpe mas",erros,"error")
        }
      })
    },
    alerta(title, text, type) {
      swal.fire(title, text, type);
    },
    clear() {
      this.$refs.form.reset();
    }
  },
  watch: {
    loader() {
      const l = this.loader;
      this[l] = !this[l];

      setTimeout(() => (this[l] = false), Infinity);

      this.loader = null;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.custom-loader {
  animation: loader 1s infinite;
  display: flex;
  color: #5E35B1;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
