<template>
  <v-layout row class="mt-1">

    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-btn slot="activator" color="yellow" outline dark >
        Novo  {{tipo}}
        <v-icon right>add</v-icon>
      </v-btn>
      <v-card>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex row xs12 sm12 md12 class="align-center">DADOS DO EXAME</v-flex>
              <v-flex xs12 sm6 v-if="tipo == 'Hemograma'">
                <v-text-field label="Tipo Sanguinio" v-model="nome"></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 v-if="tipo == 'Diabetes'">
                <v-text-field label="Tipo Diabetes" v-model="nome"></v-text-field>
              </v-flex>              
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 sm12 md12 class="align-center">
                <v-btn
                  outline
                  class="white--text"
                  color="red darken-4"
                  @click="dialog=false"
                >Cancelar</v-btn>
                <v-btn
                  class="white--text"
                  color="green darken-4"
                  @click="dialog=false, salvarPaciente()"
                >Salvar {{tipo}}</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import SiteFine from "@/templates/SiteFine";
import swal from "sweetalert2";

export default {
  name: "AdicionarExame",
  props:["tipo"],
  components: { SiteFine },
  data() {
    return {
      data_nascimento: new Date().toISOString().substr(0, 10),
      dialog_nascimento: false,
      modal: false,
      mask_data: "##/##/####",
      dialog: false,
      nome: "",
      email: null,
      items: [],
      search: null,
      sexo: null,
      states: ["Feminino", "Masculino"],
      paciente:null
    };
  },
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.data_nascimento);
    }
  },
  watch: {
    date(val) {
      this.dateFormatted = this.formatDate(this.data_nascimento);
    }
  },
  created() {
    //this.BuscarInstrumentos();
  },
  methods: {
    salvarPaciente() {
      this.alerta("Exame " + this.nome , "Salvo com sucesso!", "success");     
          },    
    
    alerta(title, text, type) {
      swal.fire(title, text, type);
    },
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
