<template>
  <div class="text-xs-center">
    <v-dialog v-model="dialog" persistent max-width="800px">
      <v-btn slot="activator" color="purple darken-4" dark block>
        <span  class="yellow--text">Exames Clínicos</span>
        <v-icon right>fas fa-file-medical-alt</v-icon>
      </v-btn>
      <v-card> 
         <v-tabs dark color="#AD1457" show-arrows height="80" icons-and-text>
          <v-tabs-slider color="purple darken-4"></v-tabs-slider>
          <v-tab v-for="item in exames" :key="item.id" :href="'#tab-' + item.id" @click="VerificarTipo(item.nome)">            
            <h3  class="subheading">
                {{ item.nome }}
              </h3> 
            <v-avatar
                class=""
              >
               <v-icon>fas fa-{{item.icon}}</v-icon>
              </v-avatar>  
                                                   
          </v-tab>
        
        </v-tabs>
         <lista-exames v-bind:Tipo="tipo"></lista-exames>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-flex xs12 sm12 md12 class="align-center">
                <v-btn outline color="red darken-4" @click="dialog=false">CANCELAR</v-btn>
                <v-btn color="green darken-4" class="white--text" @click="dialog=false">SALVAR EXAME</v-btn>
              </v-flex>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import swal from "sweetalert2";
import ListaExames from "@/pages/Modulos/Adm/examesclinicos/ListaExames";
export default {
  name: "Exames",
  components:{ListaExames},
  data() {
    return {
      valid: false,
      exames:[{id:1, nome:"Hemograma", icon:"tint"},{id:2,nome:"Diabetes",icon:"cookie-bite"}],
      examesCadastrados:[{id:1, nome:"Hemograma"},{id:2,nome:"Diabetes"}],
      dialog: false,
      tipo:"Hemograma"
    };
  },
  methods:{
    VerificarTipo(tipo){
      this.tipo = tipo
    }
  }
};
</script>