<template>
  <v-card color="purple darken-4" class="white--text ma-4 pa-4 align-center">
    <v-layout row class="mt-4">
      <v-flex xs12 sm12 md12 lg12 align-center v-if="exames == false">
        Não há nenhum exame adicionado para este paciente.
        <br>
        <v-avatar color="yellow darken-3" class="mt-2">
          <v-icon dark>fas fa-folder-open</v-icon>
        </v-avatar>       
      </v-flex>
      <v-flex xs12 sm12 md12 lg12 align-center v-if="exames == true">
        <v-list two-line subheader>
          <v-list-tile v-for="item in lista" :key="item.nome" avatar>
            <v-list-tile-avatar>
              <v-avatar color="indigo">
                <v-icon dark>fas fa-utensils</v-icon>
              </v-avatar>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.nome }}</v-list-tile-title>
              <v-list-tile-sub-title>{{ item.tipo }} {{item.tipo}}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-flex>
       
       
    </v-layout> 
     <adicionar-exame v-bind:tipo="Tipo"></adicionar-exame>   
  </v-card>
</template>
<script>
import swal from "sweetalert2";
import AdicionarExame from "@/pages/Modulos/Adm/examesclinicos/AdicionarExame";

export default {
  name: "ListaExames",
  components: { AdicionarExame },
  props: ["Tipo"],
  create() {
    console.log(this.Tipo);
  },
  data() {
    return {
      valid: false,
      dialog: false,
      exames: false,
      lista:[{id:1,nome:"Hemograma 01",tipo:"Hemograma"}]
    };
  }
};
</script>