<template>
  <div> 
    <v-img src="https://portal.fmu.br/wp-content/uploads/2018/08/Alimenta%C3%A7%C3%A3o.jpg" gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)" aspect-ratio="2" > <slot></slot></v-img>
    
  </div>
</template>

<script>

export default {
  name: 'LoginFine',
  data(){
    return{
      usuario:false
    }
  },
  components:{
   
  },
  created(){
    console.log("created()");
    /*let usuarioSecao = sessionStorage.getItem('usuario');
    if(usuarioSecao){
      this.usuario = JSON.parse(usuarioSecao);
    }*/
  },
  methods:{
    sair(){
      sessionStorage.clear();
      this.usuario = false;
    }
  }
}
</script>

<style>


</style>
