<template>
  <div>
    <v-toolbar app color="purple darken-4" :clipped-right="clipped">
      <v-btn icon color="white" @click.stop="rightDrawer = !rightDrawer">
        <v-icon>menu</v-icon>
      </v-btn>
      <v-list-tile-avatar>
        <img src="https://randomuser.me/api/portraits/men/85.jpg">
      </v-list-tile-avatar>
     
      <v-toolbar-title v-text="title" class="white--text"></v-toolbar-title>

      <v-spacer></v-spacer>
      <v-tooltip bottom>
      <v-btn
       slot="activator"
       v-on:click="sair(), rightDrawer= false"
        fab
         dark
          small
           color="red darken-2">
        <v-icon dark>exit_to_app</v-icon>
      </v-btn>
        <span>SAIR</span>
    </v-tooltip>
    </v-toolbar>
    <slot></slot>
    <v-navigation-drawer  v-model="rightDrawer" fixed app>
      <v-list-tile>
        <v-btn
          absolute
          right
          fab
          small
          outline
          color="red"
          class="mt-2"
          @click.stop="rightDrawer = !rightDrawer"
        >
          <v-icon color="red" dark>close</v-icon>
        </v-btn>
      </v-list-tile>

      <v-list>
        <v-list-tile @click="Home()" color="color_patrimonio">
          <v-list-tile-action>
            <v-icon color="blue">home</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Início</v-list-tile-title>
        </v-list-tile>

        <v-list-group prepend-icon="fas fa-user">
       
          <v-list-tile slot="activator">
             <!--v-tooltip bottom-->
            <v-list-tile-title >Pacientes</v-list-tile-title>
             <!---span>CLICK PARA ABRIR</span>
    </v-tooltip-->
          </v-list-tile>
          
          <!--v-list-tile @click="Consulta(), rightDrawer= false" sub-group>
            <v-list-tile-action>
              <v-icon color="orange">fas fa-guitar</v-icon>
            </v-list-tile-action>
            <v-list-tile-title>CONSULTAR AGENDA</v-list-tile-title>
          </v-list-tile-->
           <v-list-tile class="ml-2" @click="" sub-group>
            <v-list-tile-action>
              <v-icon color="green darken-2">fas fa-user</v-icon>
            </v-list-tile-action>
            <v-list-tile-title>Perfil</v-list-tile-title>
          </v-list-tile>
          <v-list-tile class="ml-2" @click="" sub-group>
            <v-list-tile-action>
              <v-icon color="green darken-2">fas fa-key</v-icon>
            </v-list-tile-action>
            <v-list-tile-title>Segurança</v-list-tile-title>
          </v-list-tile>
          <!--v-list-group sub-group no-action>
            <v-list-tile slot="activator">
              <v-list-tile-title>Outros</v-list-tile-title>
            </v-list-tile>

            <v-list-tile v-for="(crud, i) in cruds" :key="i" @click>
              <v-list-tile-title v-text="crud[0]"></v-list-tile-title>
              <v-list-tile-action>
                <v-icon v-text="crud[1]"></v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list-group-->
        </v-list-group>
       
        <v-list-tile style="cursor:pointer" v-on:click="sair(), rightDrawer= false" color="red">
          <v-list-tile-action>
            <v-icon color="red">exit_to_app</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Sair</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-footer :fixed="fixed" app>
      <span>&copy; 2019 - FINE SAÚDE IFRN</span>
    </v-footer>
  </div>
</template>

<script>
import swal from "sweetalert2";

export default {
  name: "SiteFine",
  components: {},
  data() {
    return {
      color_patrimonio: "",
      color_cadastro_instrumento: "",
      clipped: true,
      drawer: true,
      fixed: false,
      menu_patrimonio: true,
      menu_cadastro_instrumento: false,
      admins: [
        ["Cadastrar instrumento", "add", "Cadastrar_Instrumento()"],
        ["Pesquisar", "search"],
        ["Estatísticas", "trending_up"],
        ["Baixas", "close"]
      ],
      cruds: [
        ["", "add"],
        ["", "insert_drive_file"],
        ["", "update"],
        ["", "delete"]
      ],
      miniVariant: false,
      right: true,
      rightDrawer: true,
      title: "FINE SAÚDE",
      usuario: ""
    };
  },
  created() {
    //let usuarioAux = sessionStorage.getItem("usuario");
    //this.usuario = JSON.parse(usuarioAux);
  },
  methods: {
    Home() {
      this.color_patrimonio = "blue";
      this.$router.push("/inicio-fine-administracao");
    },
    Consulta() {
      this.color_patrimonio = "blue";
      this.color_cadastro_instrumento = "blue";
      this.$router.push("/fine-agendamento");
    },

    Paciente() {
      this.color_patrimonio = "blue";
      this.color_cadastro_instrumento = "blue";
      this.$router.push("/fine-paciente");
    },
    sair() {
      const toast = swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000
      });

      toast({
        type: "warning",
        title: "você saiu do sistema!"
      });
      sessionStorage.clear();
      this.$router.push("/");
    }
  }
};
</script>

<style>
</style>
