<!-- Botão inicial-->
<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">    
      <template v-slot:activator="{ on }">
         <v-btn slot="activator" color="purple darken-4" dark  v-on="on">
        <span class="yellow--text">&nbsp;ALERGIA</span>
        <v-icon right>fas fa-user-md</v-icon>        
      </v-btn>     
      </template>

<!-- Cartão com o formulário-->
      <v-card>
        <v-card-title>
          <span class="headline">Alergia do Paciente</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <!-- Caixa de seleção-->
              <v-flex xs12 sm6>
                <v-select
                  :items="['Alergia', 'Intolerância']"
                  label="Tipo (alergia ou intolerância)*"
                  required
                ></v-select>
              </v-flex>
              <!-- CAMPO-->
              <v-flex xs12 sm6 >
                <v-text-field label="Agente causador*" required
                hint="Ovo, corantes, camarão, etc."
                persistent-hint
                >  
                </v-text-field>
              </v-flex>
              <!-- CAMPO-->
              <v-flex xs12 sm6 md4>
                <v-text-field label="Tipo de reação imune" hint="IgE, IgM, IgG, etc." persistent-hint></v-text-field>
              </v-flex>
              <!-- CAMPO-->
               <v-flex xs12 sm8 >
                <v-text-field
                  label="CID 10"
                  hint="Classificação do risco da doença"
                  persistent-hint
                ></v-text-field>
              </v-flex>
              <!-- CAMPO-->
              <v-flex xs12>
                <v-text-field
                  label="Locais afetados*"
                  hint="Pele, pulmões, garganta, etc."
                  persistent-hint
                  required
                ></v-text-field>
              </v-flex>


            <!-- CAMPO DE ESCRITA DETALHADAS-->
            <v-textarea
            label="Sintomas clínicos">
            </v-textarea>
            <!-- CAMPO DE ESCRITA DETALHADAS-->
            <v-textarea
            label="Descrição adicional">
            </v-textarea>

            </v-layout>
          </v-container>
          <small>*Indica campo obrigatório</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

<!-- BOTÕES DE SALVAR E CANCELAR-->
<v-btn outline color="red darken-4" @click="dialog=false">CANCELAR</v-btn>
<v-btn color="green darken-4" class="white--text" @click="dialog=false">SALVAR ALERGIA</v-btn>
       
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>


<!-- Methodos e Scripts-->


<script>
//IMPORTA OS ALERTAS
import swal from "sweetalert2";
//EXPORTAR A PAGINA E SUAS CONFIGURAÇÕES
  export default {
    name:"CadastroAlergia",//NOME DO BOTÃO? OU RECONHECIMENTO DELE?
    data () {
      return {
        dialog: false,
         on:null,
         alimentos:[],
         medidas:[]
      }
    },
   methods: {//METODOS
    salvarAlergia() {//SALVAR A ALERGIA
      this.alerta("Pressão Cadastrada Com Sucesso!", "success");

    },
   
    alerta(title, text, type) {//ALERTAS
      swal.fire(title, text, type);
    },
   }
   };
   
</script>
