<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-btn slot="activator" color="yellow darken-1" dark outline>Adicionar Plano Alimentar</v-btn>

      <v-card>
        <v-flex row xs12 sm12 md12 class="align-center pt-5">
          <p>PLANO ALIMENTAR</p>
          <v-divider></v-divider>
        </v-flex>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <dias></dias>
            </v-layout>
            <v-flex row xs12 sm12 md12 lg12 d-flex class="pa-5">
              <v-divider></v-divider>
            </v-flex>
            <v-layout row wrap>
              <v-container fluid grid-list-md>
                <v-textarea
                  name="input-7-1"
                  box
                  color="purple darken-4"
                  label="DESCRIÇÃO DO PLANO ALIMENTAR"
                  auto-grow
                ></v-textarea>
              </v-container>
            </v-layout>

            <v-layout row wrap>
              <v-flex xs12 sm12 md12 lg12>
                <v-card color="purple darken-4" class="white--text ma-4 pa-4 align-center">
                  <v-layout row>
                    <v-flex xs12 sm12 md12 lg12 align-center v-if="refeicao == false">
                      Não há nenhuma refeição
                      <v-avatar color="yellow darken-3">
                        <v-icon dark>fas fa-folder-open</v-icon>
                      </v-avatar>
                    </v-flex>
                    <v-flex xs12 sm12 md12 lg12 align-center v-if="refeicao == true">
                      <v-list two-line subheader>
                        <v-list-tile v-for="item in refeicoes" :key="item.hora" avatar>
                          <v-list-tile-avatar>
                            <v-avatar color="indigo">
                              <v-icon dark>fas fa-utensils</v-icon>
                            </v-avatar>
                          </v-list-tile-avatar>
                          <v-list-tile-content>
                            <v-list-tile-title>{{ item.hora }}</v-list-tile-title>
                            <v-list-tile-sub-title>{{ item.tipo }}</v-list-tile-sub-title>
                          </v-list-tile-content> 
                          <v-list-tile>                            
                            <alimentos-refeicao v-bind:alimentosRef="item.alimentos"></alimentos-refeicao>
                          </v-list-tile>
                        </v-list-tile>
                      </v-list>
                    </v-flex>
                  </v-layout>
                  <v-divider light class="ma-3"></v-divider>
                  <v-flex xs12 sm12 md12 lg12 align-center>
                    <adicionar-refeicao @Refeicao="RefeicaoAdicionada"></adicionar-refeicao>
                  </v-flex>
                </v-card>
              </v-flex>
            </v-layout>

            <v-layout row wrap>
              <v-flex xs12 sm6 md8 offset-md2></v-flex>
              <v-flex xs12 sm12 md12 class="align-center">
                <v-btn outline color="red darken-4" @click="dialog=false">CANCELAR</v-btn>
                <v-btn color="green darken-4" class="white--text" @click="dialog=false">SALVAR PLANO</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import SiteFine from "@/templates/SiteFine";
import swal from "sweetalert2";
import AdicionarRefeicao from "@/pages/Modulos/Adm/planejamentoAlimentar/AdicionarRefeicao";
import AlimentosRefeicao from "@/pages/Modulos/Adm/planejamentoAlimentar/AlimentosRefeicao";
import Dias from "@/pages/Modulos/Adm/planejamentoAlimentar/DiasSemana";

export default {
  name: "AdicionarPlano",
  components: { SiteFine, AdicionarRefeicao, Dias ,AlimentosRefeicao},
  data() {
    return {
      dialog: false,
      segunda: true,
      terca: true,
      quarta: true,
      quinta: true,
      sexta: true,
      sabado: true,
      picker: null,
      landscape: true,
      loading: false,
      items: [],
      refeicao: false,
      refeicoes: [],
      search: null,
      select: null,
      states: [
        "5 minutos",
        "10 minutos",
        "15 minutos",
        "20 minutos",
        "25 minutos",
        "30 minutos"
      ]
    };
  },
  created() {
    //this.BuscarInstrumentos();
  },
  methods: {
    
    RefeicaoAdicionada(payload) {
      console.log("Adicionar refeicao ao plano", payload.refeicao);
      this.refeicoes = [];
      payload.refeicao.forEach(element => {
        this.refeicao = true;
        this.refeicoes.push(element);
        this.alerta(
          "Refeição adicionada ao plano: " +
            "Hora: " +
            element.hora +
            "Tipo: " +
            element.tipo,
          "Alimento adicionado a sua refeição",
          "success"
        );
      });
    },
    alerta(title, text, type) {
      swal.fire(title, text, type);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
