<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-btn slot="activator" color="yellow darken-1" dark outline @click="LimparRefeicao()">Adicionar Refeição</v-btn>

      <v-card>
        <v-flex row xs12 sm12 md12 class="align-center pt-5">
          <p class="text-uppercase title">refeição</p>
          <v-divider></v-divider>
        </v-flex>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm12 md6 lg6 align-center>
                <v-text-field label="Horário da refeição" value="07:30:00" type="time" v-model="hora"></v-text-field>
              </v-flex>
              <v-flex xs12 sm12 md6 lg6 align-center>
                <v-select :items="tipo_refeicao" label="Tipo de refeição" v-model="tipo"></v-select>
              </v-flex>
            </v-layout>

            <v-layout row wrap>
              <v-flex xs12 sm12 md12 lg12>
                <v-card color="purple darken-4" class="white--text ma-4 pa-4 align-center">
                  <v-layout row>
                    <v-flex xs12 sm12 md12 lg12 align-center v-if="alimentos == null">
                      Não há nenhum alimento
                      <v-avatar color="yellow darken-3">
                        <v-icon dark>fas fa-folder-open</v-icon>
                      </v-avatar>
                    </v-flex>
                    <v-flex xs12 sm12 md12 lg12 align-center v-if="alimentos !== null">
                      <v-list two-line subheader>
                        <v-list-tile v-for="item in lista" :key="item.nome" avatar>
                          <v-list-tile-avatar>
                            <v-avatar color="indigo">
                              <v-icon dark>fas fa-utensils</v-icon>
                            </v-avatar>
                          </v-list-tile-avatar>

                          <v-list-tile-content>
                            <v-list-tile-title>{{ item.nome }}</v-list-tile-title>
                            <v-list-tile-sub-title>{{ item.quantidade }} {{item.medida}}</v-list-tile-sub-title>
                          </v-list-tile-content>
                        </v-list-tile>
                      </v-list>
                    </v-flex>
                  </v-layout>

                  <v-divider light class="ma-3"></v-divider>
                  <v-flex xs12 sm12 md12 lg12 align-center>
                    <adicionar-alimento @Alimento="AlimentoAdicionado"></adicionar-alimento>
                  </v-flex>
                </v-card>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-container fluid grid-list-md>
                <v-textarea
                  name="input-7-1"
                  box
                  color="purple darken-4"
                  label="OBSERVAÇÕES:"
                  auto-grow
                ></v-textarea>
              </v-container>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 sm6 md8 offset-md2></v-flex>
              <v-flex xs12 sm12 md12 class="align-center">
                <v-btn outline color="red darken-4" @click="dialog=false">CANCELAR</v-btn>
                <v-btn
                  color="green darken-4"
                  class="white--text"
                  @click=" salvarRefeicao(), dialog=false"
                >SALVAR REFEIÇÃO</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import SiteFine from "@/templates/SiteFine";
import swal from "sweetalert2";
import AdicionarAlimento from "@/pages/Modulos/Adm/planejamentoAlimentar/AdicionarAlimento";

export default {
  name: "AdicionarRefeicao",
  components: { SiteFine, AdicionarAlimento },
  data() {
    return {
      tipo_refeicao: ["Café da manha", "Almoço", "Lanche da tarde", "Jantar"],
      dialog: false,
      alimentos: null,
      lista: [],
      refeicao:null,
      hora:null,
      tipo:null
    };
  },
  created() {
    //this.BuscarInstrumentos();
  },
  methods: {   
    LimparRefeicao(){
      this.alimentos = null;
      this.lista = [];
      console.log("Limpar refeição")
    },
    AlimentoAdicionado(payload) {
      console.log("Adicionar alimento a refeição", payload.alimento);
      payload.alimento.forEach(element => {
        this.alimentos = true;
        this.lista.push(element);
        this.alerta("Alimento escolhido: "+ element.nome,"Alimento adicionado a sua refeição","success")
      });
    },
    alerta(title, text, type) {
      swal.fire(title, text, type);
    },
    salvarRefeicao(){
      this.refeicao = []
      this.refeicao = [{hora:this.hora, tipo: this.tipo, alimentos: this.lista}]
      console.log("Refeição adicionada",this.refeicao) 
      this.$emit("Refeicao", {refeicao:this.refeicao})
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
