<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-btn slot="activator" color="yellow darken-1" dark outline>Adicionar Alimento</v-btn>

      <v-card>
        <v-flex row xs12 sm12 md12 class="align-center pt-5">
          <p class="text-uppercase title">ALIMENTO</p>
          <v-divider></v-divider>
        </v-flex>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm12 md4 lg4 align-center>
                <v-select :items="alimentos" v-model="nome" label="Alimentos"></v-select>
              </v-flex>
              <v-flex xs12 sm12 md4 lg4 align-center>
                <v-select :items="medidas" v-model="medida" label="Medida caseira"></v-select>
              </v-flex>
              <v-flex xs12 sm12 md4 lg4 align-center>
                <v-text-field type="number" v-model="quantidade" label="Quantidade"></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 sm6 md8 offset-md2></v-flex>
              <v-flex xs12 sm12 md12 class="align-center">
                <v-btn outline color="red darken-4" @click="dialog=false">CANCELAR</v-btn>
                <v-btn color="green darken-4" class="white--text" @click="dialog=false , salvarAlimento()">SALVAR ALIMENTO</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import SiteFine from "@/templates/SiteFine";
import swal from "sweetalert2";
import AdicionarRefeicao from "@/pages/Modulos/Adm/planejamentoAlimentar/AdicionarRefeicao";

export default {
  name: "AdicionarAlimento",
  components: { SiteFine, AdicionarRefeicao },
  data() {
    return {
      alimentos: ["Laranja", "Café", "Pão", "Feijão", "Arroaz", "Sopa"],
      medidas:["Grama", "Unidade","ML"],
      dialog: false,
      nome:null,
      medida:null,
      quantidade:null,
      alimento:[]
    };
  },
  created() {
    //this.BuscarInstrumentos();
  },
  methods: {
    querySelections(v) {
      this.loading = true;
      // Simulated ajax query
      setTimeout(() => {
        this.items = this.states.filter(e => {
          return (e || "").toLowerCase().indexOf((v || "").toLowerCase()) > -1;
        });
        this.loading = false;
      }, 500);
    },
    salvarAlimento(){
      this.alimento = []
      this.alimento = [{nome:this.nome, medida: this.medida, quantidade: this.quantidade}]
      console.log(this.alimento) 
      this.$emit("Alimento", {alimento:this.alimento})
    
    },
    ApiBuscarAlimento(){
      
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
