<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-btn slot="activator" color="orange darken-1" dark @click="MostrarAlimentos(alimentosRef)">ALIMENTOS</v-btn>

      <v-card>
        <v-flex row xs12 sm12 md12 class="align-center pt-5">
          <p class="text-uppercase title">ALIMENTOS</p>
          <v-divider></v-divider>
        </v-flex>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-list two-line subheader>
                        <v-list-tile v-for="item in alimentosRef" :key="item.id" avatar>
                          <v-list-tile-avatar>
                            <v-avatar color="orange">
                              <v-icon dark>fas fa-utensils</v-icon>
                            </v-avatar>
                          </v-list-tile-avatar>
                          <v-list-tile-content>
                            <v-list-tile-title>{{ item.nome }}</v-list-tile-title>
                            <v-list-tile-sub-title>{{ item.quantidade }} {{item.medida}}</v-list-tile-sub-title>
                          </v-list-tile-content> 
                          <v-list-tile>                            
                          </v-list-tile>
                        </v-list-tile>
                      </v-list>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 sm6 md8 offset-md2></v-flex>
              <v-flex xs12 sm12 md12 class="align-center">
                <v-btn outline color="red darken-4" @click="dialog=false">fechar</v-btn>
              </v-flex>              
            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import SiteFine from "@/templates/SiteFine";
import swal from "sweetalert2";

export default {
  name: "AlimentosRefeicao",
  components: { SiteFine },
  props:["alimentosRef"],
  data() {
    return {
      dialog: false,
    };
  },
  created() {
    //this.BuscarInstrumentos();
  },
  methods: {
    MostrarAlimentos(){
      this.alimentosRef.forEach(element => {
        console.log(element.nome)
      });
      
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
