<template>
<v-card>
    <v-container
      fluid
      grid-list-xl
    >
    <v-card-title>
      DIAS DA SEMANA
    </v-card-title>
      <v-layout
        align-center
        wrap
      >   
        <v-flex xs12 sm12>
          <v-select
            v-model="value"
            :items="items"
            chips
            label="Selecione"
            multiple
            outline
            color="info"
          ></v-select>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
  
</template>

<script>
import swal from "sweetalert2";
import AdicionarRefeicao from "@/pages/Modulos/Adm/planejamentoAlimentar/AdicionarRefeicao";

export default {
  name: "DiasSemana",
  components: {},
  data() {
    return {
      items: ['SEGUNDA', 'TERÇA', 'QUARTA', 'QUINTA','SEXTA','SÁBADO','DOMINGO'],
      value: ['SEGUNDA', 'TERÇA', 'QUARTA', 'QUINTA','SEXTA','SÁBADO','DOMINGO']
    };
  },watch:{
   value: function() {
      console.log("dias da semana",this.value)
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
