<template>
  <div class="text-xs-center">
    <v-dialog v-model="dialog" persistent max-width="600px">      
        <v-btn slot="activator" color="purple darken-4" dark fab small> <v-icon>fas fa-eye</v-icon></v-btn>
        <v-card>
          <v-card-title class="headline grey lighten-2" >
              Anamnese
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
            <template>
              <v-form v-model="valid">
                <v-flex row xs12 sm12 md12 class="align-center pt-5">
                  <p class="text-uppercase title">Exame dos Olhos</p>
                  <v-divider></v-divider>                  
                    <v-layout wrap>
                      <v-flex xs6 md6 sm6 align-center>
                        <v-select :items="regiaoConjutiva" label="Região da Conjutiva"></v-select>
                      </v-flex>
                      <v-flex xs6 md6 sm6 align-center>
                        <v-select :items="regiaoEscleriotica" label="Região da Escleriótica"></v-select>
                      </v-flex>
                    </v-layout>                  
                </v-flex>
              </v-form>
            </template>
            </v-container>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" flat @click="dialog = false">
              Salvar
              </v-btn>
          </v-card-actions>
        </v-card>          
    </v-dialog>
  </div>
</template>
<script>

import swal from "sweetalert2";

export default {
  name: "GerenciarAnamnese",
  data() {
    return {
      valid: false,
      regiaoConjutiva: ["Normal", "Pálida"],
      regiaoEscleriotica: [ "Branca", "Amarela"],
      nameRules: [
        v => !!v || 'Informe',
        v => v.length <= 10 || 'Name must be less than 10 characters'
      ],
      dialog: false
    }
  }
}
</script>