<template>

   <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="900">
      <!-- <v-tooltip bottom> --> 
        
            <v-btn slot="activator" color="purple darken-4"  @click="buscarExameFisico()" dark ><span  class="yellow--text">&nbsp;Exame Físico</span> <v-icon right>fas fa-dumbbell</v-icon>            
            </v-btn>
        <!-- <v-btn v-on="on" block @click="buscarExameFisico()">
            <v-icon>fas fa-edit</v-icon>
            <span>Exames Físicos</span>
        </v-btn> -->
        
        <!-- <span>Exame Físico</span>
      </v-tooltip> -->
        <v-card>
          <v-card-title class="headline grey lighten-2" >
              Exames Físicos
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
            <template>
              <v-form v-model="valid">
                <v-flex row xs12 sm12 md12 class="align-center">
                  <p class="text-uppercase title">Medidas Corporais</p>
                  <v-divider></v-divider>                  
                    <v-layout wrap>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field v-model="idade" type="number" label="Idade (anos)">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field v-model="altura" label="Altura (m)" mask="#,##">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field @input="Peso" label="Peso (kg)" v-model="peso">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field v-model="cintura" type="number" label="Cintura (cm)">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field v-model="dobratriciptal" type="number" label="Dobra Tricipial (cm)">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field v-model="dobrasubescapular" type="number" label="Dobra Subescapular (cm)">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field v-model="dobrabiciptal" type="number" label="Dobra Bicipial (cm)">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field v-model="dobraaxilarmedia" type="number" label="Dobra Auxiliar Média (cm)">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field v-model="dobrasupraliaca" type="number" label="Dobra Supraliaca (cm)">
                        </v-text-field>                        
                      </v-flex>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field v-model="dobrapeitoral" type="number" label="Dobra Peitoral (cm)">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field v-model="dobrabdominal" type="number" label="Dobra Abdominal (cm)">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field v-model="dobracoxa" type="number" label="Dobra da Coxa (cm)">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field v-model="coxaproximaldir" type="number" label="Coxa Proximal Direita (cm)">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field v-model="coxaproximalesq" type="number" label="Coxa Proximal Esquerda (cm)">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field v-model="panturrilhadireita" type="number" label="Panturrilha Direita (cm)">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field v-model="panturrilhaesquerda" type="number" label="Panturrilha Esquerda (cm)">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field v-model="dobrapanturrimedial" type="number" label="Dobra Panturrilha Medial (cm)">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field v-model="bracodircontraido" type="number" label="Braço Direito Contraído (cm)">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field v-model="bracoesqcontraido" type="number" label="Braço Esquerdo Contraído (cm)">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field v-model="antebracodireito" type="number" label="Antebraço Direito (cm)">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs4 md4 sm4 align-center>
                        <v-text-field v-model="antebracoesquerdo" type="number" label="Antebraço Esquerdo (cm)">
                        </v-text-field>
                      </v-flex>
                    </v-layout>                  
                </v-flex>
                <v-flex row xs12 sm12 md12 class="align-center pt-5">
                  <p class="text-uppercase title">Região dos Olhos</p>
                  <v-divider></v-divider>                  
                    <v-layout wrap>
                      <v-flex xs6 md6 sm6 align-center>
                        <v-select :items="regiaoConjutiva" label="Região da Conjutiva"></v-select>
                      </v-flex>
                      <v-flex xs6 md6 sm6 align-center>
                        <v-select :items="regiaoEscleriotica" label="Região da Escleriótica"></v-select>
                      </v-flex>
                    </v-layout>                 
                </v-flex>
                <v-flex row xs12 sm12 md12 class="align-center pt-5">
                  <p class="text-uppercase title">Região da Boca</p>
                  <v-divider></v-divider>                  
                    <v-layout wrap>
                      <v-flex xs6 md6 sm6 align-center>
                        <v-select :items="labios" label="Lábios"></v-select>
                      </v-flex>
                      <v-flex xs6 md6 sm6 align-center>
                        <v-select :items="lingua" label="Língua"></v-select>
                      </v-flex>
                      <v-flex xs6 md6 sm6 align-center>
                        <v-select :items="gengiva" label="Gengiva"></v-select>
                      </v-flex>
                      <v-flex xs6 md6 sm6 align-center>
                        <v-select :items="denticao" label="Dentição"></v-select>
                      </v-flex>
                    </v-layout>                 
                </v-flex>
              </v-form>    
              
            </template>
            </v-container>
          </v-card-text>

         <v-layout row wrap>
              <v-flex xs12 sm12 md12 class="align-center">
                <v-btn
                  outline
                  class="white--text"
                  color="red darken-4"
                  @click="dialog=false"
                >Cancelar</v-btn>
                <v-btn
                  class="white--text"
                  color="green darken-4"
                  @click="dialog=false, salvarExameFisico()"
                >Salvar Exame Físico</v-btn>
              </v-flex>
            </v-layout>
        </v-card>          
    </v-dialog>
   </v-layout>
</template>
<script>

import SiteFine from "@/templates/SiteFine";
import swal from "sweetalert2";

export default {
  name: "GerenciarExameFisico",
  components: { SiteFine },
  data() {    
    return {
      valid: false,
      regiaoConjutiva: ["Normal", "Pálida"],
      regiaoEscleriotica: [ "Branca", "Amarela"],
      labios: ["Normais", "Ressecados"],
      lingua: ["Áspera", "Branca"],
      gengiva: ["Clara", "Escura"],
      denticao: ["Completa","Parcial","Nenhuma"],
      mascaraAltura: '#,##',
      peso: '',
      value : '',
      dialog: false,
      // DADOS DO FORM
      altura: null,
      idade: null,
      peso: null,
      dobraaxilarmedia: null,
      dobrabdominal: null,
      dobrabiciptal: null,
      dobracoxa: null,
      dobrapanturrimedial: null,
      dobrapeitoral: null,
      dobrasubescapular: null,
      dobrasupraliaca: null,
      panturrilhadireita: null,
      panturrilhaesquerda: null,
      dobratriciptal: null,
      antebracodireito: null,
      antebracoesquerdo: null,
      bracodircontraido: null,
      bracoesqcontraido: null,
      cintura: null,
      coxaproximaldir: null,
      coxaproximalesq: null
    }
  },
  methods:{
    Peso(e){
      let x = e.split(",");
      let string = "";
      for(var i = 0; i < x.length; i++)
        string += x[i];
      let float = parseFloat(string)/100;
      if(float <= 0 || isNaN(float))
        float = 0.00;
      this.peso = float.toString().replace(".",",");
    },
    salvarExameFisico() {
      console.log('oi');
      swal("Exames Físicos","Salvo com sucesso!","success")
    },
    buscarExameFisico(){
      let idForm = new FormData();
      idForm.append("cpf", "024.317.144-50")
      this.$http.post(this.$url + "Medidas&acao=findCpf", idForm).then(response => {
        if(response.data !== null){
          this.altura = response.data[0].altura;
          this.peso = response.data[0].peso;
          this.idade = response.data[0].idade;
          this.idade = response.data[0].idade;
          this.idade = response.data[0].idade;
          this.dobraaxilarmedia = response.data[0].dobraaxilarmedia;
          this.dobrabdominal = response.data[0].dobrabdominal;
          this.dobrabiciptal = response.data[0].dobrabiciptal;
          this.dobracoxa = response.data[0].dobracoxa;

          this.dobrapanturrimedial = response.data[0].dobrapanturrimedial;
          this.dobrapeitoral = response.data[0].dobrapeitoral;
          this.dobrasubescapular = response.data[0].dobrasubescapular;
          this.dobrasupraliaca = response.data[0].dobrasupraliaca;
          this.panturrilhadireita = response.data[0].panturrilhadireita;
          this.panturrilhaesquerda = response.data[0].panturrilhaesquerda;
          this.dobratriciptal = response.data[0].dobratriciptal;

          this.antebracodireito = response.data[0].antebracodireito;
          this.antebracoesquerdo = response.data[0].antebracoesquerdo;
          this.bracodircontraido = response.data[0].bracodircontraido;
          this.bracoesqcontraido = response.data[0].bracoesqcontraido;
          this.cintura = response.data[0].cintura;
          this.coxaproximaldir = response.data[0].coxaproximaldir;
          this.coxaproximalesq = response.data[0].coxaproximalesq;
          console.log(response.data[0]);
        }
        else
          console.log("Nulo");
      });
    }
  }
}
</script>