<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">    
      <template v-slot:activator="{ on }">
         <v-btn slot="activator" color="purple darken-4" dark  v-on="on">
        <span class="yellow--text">&nbsp;PRESSÃO ARTERIAL</span>
        <v-icon right>fas fa-user-md</v-icon>        
      </v-btn>     
      </template>

      <v-card>
        <v-flex row xs12 sm12 md12 class="align-center pt-5">
          <p class="text-uppercase title">CADASTRAR A VERIFICAÇÃO DA PRESSÃO ARTERIAL</p>
          <v-divider></v-divider>
        </v-flex>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
               <v-flex xs12 sm12 md4 lg4 align-center>
                <v-text-field type="number" label="Id"></v-text-field>
              </v-flex>
               <v-flex xs12 sm12 md4 lg4 align-center>
                <v-text-field type="number" label="Id Usuário"></v-text-field>
              </v-flex>
              <v-flex xs12 sm12 md6 lg6>
                <v-dialog
                  ref="dialog_nascimento"
                  v-model="modal"
                  :return-value.sync="data_nascimento"
                  persistent
                  lazy
                  full-width
                  width="290px"
                >
                  <v-text-field
                    slot="activator"
                    v-model="computedDateFormatted"
                    label="Data da verificação *"
                    append-icon="event"
                    readonly
                    color="purple darken-3"
                    hint
                    persistent-hint
                  ></v-text-field>
                  <v-date-picker v-model="data_nascimento" scrollable locale="pt-BR">
                    <v-spacer></v-spacer>
                    <v-btn flat color="red" @click="modal = false">Cancelar</v-btn>
                    <v-btn
                      flat
                      color="success"
                      @click="$refs.dialog_nascimento.save(data_nascimento)"
                    >OK</v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-flex>
               <v-flex xs12 sm12 md4 lg4 align-center>
                <v-text-field type="number" label="Valor da Alta"></v-text-field>
              </v-flex>
               <v-flex xs12 sm12 md4 lg4 align-center>
                <v-text-field type="number" label="Valor da Baixa"></v-text-field>
              </v-flex>
               <v-flex xs12 sm12 md4 lg4 align-center>
                <v-text-field type="text" label="Descrição"></v-text-field>
              </v-flex>
               <v-flex xs12 sm12 md4 lg4 align-center>
                <v-text-field type="text" label="Foi Medicado Com"></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 sm6 md8 offset-md2></v-flex>
              <v-flex xs12 sm12 md12 class="align-center">
                <v-btn outline color="red darken-4" @click="dialog=false">CANCELAR</v-btn>
                <v-btn color="green darken-4" class="white--text" @click="dialog=false ,salvarPressao()">SALVAR PRESSÃO Arterial</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-layout>
</template>



<script>

import swal from "sweetalert2";

  export default {
    name:"PressaoArterial",
    data () {
      return {
        dialog: false,
         on:null,
         alimentos:[],
         medidas:[]
      }
    },
   methods: {
    salvarPressao() {
      this.alerta("Pressão Cadastrada Com Sucesso!", "success");

    },
   
    alerta(title, text, type) {
      swal.fire(title, text, type);
    },
   }
   };
   
</script>



