<template>
  <site-fine>
 <painel-pacientes class="mb-5"></painel-pacientes>
   
  </site-fine>
</template>

<script>
//Template
import SiteFine from "@/templates/SiteFine";
//Componentes Pacientes
import PainelPacientes from "@/pages/Modulos/Adm/paciente/PainelPacientes";

import swal from "sweetalert2";

export default {
  name: "Home",
  components: { SiteFine, PainelPacientes },

  data() {
    return {};
  },
  created() {}
};
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
